/* =========================
   CSS RESET / BASE
========================= */

@import "./typography.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}

body {
  min-height: 100vh;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

/* =========================
   DESIGN TOKENS
========================= */

:root {
  /* Colors */
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f7f7f7;
  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;
  --color-text-white: #ffffff;
  --color-border: #D3D3D3;
  --color-accent: #0f766e;
  --color-accent-hover: #115e59;
  --color-btn-primary: #050505;

  /* Spacing scale */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-8: 32px;
  --space-10: 40px;
  --space-12: 48px;
  --space-16: 64px;

  /* Layout */
  --container-max-width: 1200px;

  /* Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

  /* Shadows */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 10px rgba(0, 0, 0, 0.08);

  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 834px;
  --breakpoint-desktop: 1440px;
}

/* =========================
   GLOBAL ELEMENT STYLES
========================= */

/* =========================
   UTILITIES
========================= */

.p-0 {
  padding: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-2 {
  padding-bottom: var(--space-2);
}
.p-6 {
  padding: var(--space-6);
}
.p-4 {
  padding: var(--space-4);
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.gap-4 {
  gap: var(--space-4);
}

.gap-6 {
  gap: var(--space-6);
}

.flex-1 {
  flex: 1;
}
